<header>
  <div class="page-max-width d-flex flex-space-between flex-content-center">
    <div class="d-flex flex-items-center ml-0 mr-auto">
     <a class="logo d-inline-flex flex-items-center" href="https://cocky-keller-94bd84.netlify.app">
        <span class="mr-12">SPN Technical Infrastructure Working Group</span>
      </a>
    </div>

    <nav class="d-flex flex-items-center ml-auto mr-0">
      <a class="mr-24" href="/">
        Home
      </a>
      <a href="https://github.com/Software-Preservation-Network-Techinfra/spn-techinfra-emulation" target="_blank" rel="nofollow">
        {% include "icons/github.html" %}
        <span class="ml-8">GitHub</span>
      </a>
    </nav>
  </div>
</header>
