{% macro menuItem(targetPage) %}
  <a class="menu-item {{ 'current-page' if page.url == targetPage.url else '' }}" href="{{ targetPage.url }}">
    {{ targetPage.data.title }}
  </a>
{% endmacro %}

<aside class="side-menu">
  <h2>Navigation</h2>
  <nav class="menu-root">
    {% for home in collections.home %}
      {{ menuItem(home) }}
    {% endfor %}
    <h7 class="menu-item">Conceptual Categories</h7>
    <nav class="Conceptual">
      {% for conceptual in collections.conceptual %}
        {{ menuItem(conceptual) }}
      {% endfor %}
    </nav>
    <h7 class="menu-item">Personal Computers</h7>
    <nav class="personalcomputers">
      {% for personalcomputers in collections.personalcomputers %}
        {{ menuItem(personalcomputers) }}
      {% endfor %}
    </nav>
  </nav>
</aside>
